@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .btn-primary {
    @apply
  }
} */

div.bg-white>.triangle,
section>.triangle {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5rem;
  height: 5rem;
  width: 5rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-x: -50%;
  border-style: solid;
  background-color: transparent;
  border-left: 3rem solid transparent;
  border-bottom: 3rem solid transparent;
  border-right: 3rem solid transparent;
  border-top-width: 3rem;
}

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

#blogCarousel .carousel-cell {
  height: 32rem !important;
  width: 33.333333%;
}

.pb-16\/9 {
  padding-bottom: 56.25%;
}